[Desktop Entry]
Type=Application
Version=1.0
Name=Settings
Exec=vamora-settings
Icon=/etc/VamoraSys/alpha-temp/icons/settings.png
Terminal=false
VamoraPackage=com.vamora.settings
Categories=Utility;
